{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">

        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
                <span>Computing</span>
            </div>
            <!--list-news-cate-->
            <div class="list-news-cate">
                <article class="news-cate-item">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <a href="#">
                                <img alt="" src="{{ asset('images/product/2.jpg')}}">
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3><a href="#">Tip Aligning Digital Marketing with Business Goals and Objectives</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Hugo LIEGEARD
                                </a>
                                <em></em>
                                <span>
                                        2017-02-26 09:37:18
                                    </span>
                            </div>
                            Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere...
                        </div>
                    </div>
                </article>
            </div>

            <div class="paging">
                <a href="#">Prev</a>
                <a href="#" class="current">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">Next</a>
            </div>

        </div>

        {# Sidebar #}
        {% include "components/_sidebar.html.twig" %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}