{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--sportlight-->
        <section class="owl-carousel owl-spotlight">
            <div>
                <article class="spotlight-item">
                    <div class="spotlight-img">
                        <img alt="" src="images/product/16.jpg" class="img-responsive" />
                        <a href="javascript:void(0)" class="cate-tag">Mobile</a>
                    </div>
                    <div class="spotlight-item-caption">
                        <h2 class="font-heading">
                            <a href="javascript:void(0)">
                                7 essential lessons from agency marketing to startup growth
                            </a>
                        </h2>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Super User
                            </a>
                            <em></em>
                            <span>
							24 Sep 2016
						</span>
                        </div>
                        <p>When Microsoft took to the stage at this year's E3 it announced not one but two new consoles: the Xbox One S, which went on sale earlier this year, and Project Scorpio,which will enable gaming at native resolutions up to 4K when it hits store shelves in 2017. </p>
                    </div>
                </article>
            </div>
            <div>
                <article class="spotlight-item">
                    <div class="spotlight-img">
                        <img alt="" src="images/product/1.jpg" class="img-responsive" />
                        <a href="javascript:void(0)" class="cate-tag">Computing</a>
                    </div>
                    <div class="spotlight-item-caption">
                        <h2 class="font-heading">
                            <a href="javascript:void(0)">
                                Windows 10 Now Running on 400 Million Active Devices, Says Microsoft
                            </a>
                        </h2>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Ashley Ford
                            </a>
                            <em></em>
                            <span>
							26 Sep 2016
						</span>
                        </div>
                        <p>Microsoft had set an ambitious goal for itself of having Windows 10 running on 1 billion active devices by FY18 at the launch of its software platform. However, back in July, the company acknowledged that due to lack of traction in its smartphone business, it might take longer to achieve this target</p>
                    </div>
                </article>
            </div>
            <div>
                <article class="spotlight-item">
                    <div class="spotlight-img">
                        <img alt="" src="images/product/2.jpg" class="img-responsive" />
                        <a href="javascript:void(0)" class="cate-tag">Mobile</a>
                    </div>

                    <div class="spotlight-item-caption">
                        <h2 class="font-heading">
                            <a href="javascript:void(0)">
                                iOS 10 Backups Less Secure Than iOS 9, Claims Researcher
                            </a>
                        </h2>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Super User
                            </a>
                            <em></em>
                            <span>
							24 Sep 2016
						</span>
                        </div>
                        <p>A security research company based in Moscow claims to have discovered a flaw in Apple's local password protected iTunes backups in iOS 10, a flaw that is said to weaken password security. According to ElcomSoft's Oleg Afonin, the security flaw lets attackers develop a new attack that can bypass certain security </p>
                    </div>
                </article>
            </div>

        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/3.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">business</a>
                        </div>
                        <h3><a href="javascript:void(0)">Tip Aligning Digital Marketing with Business Goals and Objectives</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Sue	Benson
                            </a>
                            <em></em>
                            <span>
							22 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/4.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">Computing</a>
                        </div>
                        <h3><a href="javascript:void(0)">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Marion	Craig
                            </a>
                            <em></em>
                            <span>
							21 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/5.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">Tech</a>
                        </div>
                        <h3><a href="javascript:void(0)">Will Anker be the company to finally put a heads-up display in my car?</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Super User
                            </a>
                            <em></em>
                            <span>
							26 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/3.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">business</a>
                        </div>
                        <h3><a href="javascript:void(0)">Tip Aligning Digital Marketing with Business Goals and Objectives</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Sue	Benson
                            </a>
                            <em></em>
                            <span>
							22 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/4.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">Computing</a>
                        </div>
                        <h3><a href="javascript:void(0)">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Marion	Craig
                            </a>
                            <em></em>
                            <span>
							21 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spotlight-item-thumb">
                        <div class="spotlight-item-thumb-img">
                            <a href="javascript:void(0)">
                                <img alt="" src="images/product/5.jpg" />
                            </a>
                            <a href="javascript:void(0)" class="cate-tag">Tech</a>
                        </div>
                        <h3><a href="javascript:void(0)">Will Anker be the company to finally put a heads-up display in my car?</a></h3>
                        <div class="meta-post">
                            <a href="javascript:void(0)">
                                Super User
                            </a>
                            <em></em>
                            <span>
							26 Sep 2016
						</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {# Sidebar #}
    {% include "components/_sidebar.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}