{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1>Page d'Accueil</h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}