{% set site_url = url('index')|trim('/') %}
<!DOCTYPE html>
<!--
 _____         _     _   _                     _
|_   _|       | |   | \ | |                   | |
  | | ___  ___| |__ |  \| | _____      _____  | |
  | |/ _ \/ __| '_ \| . ` |/ _ \ \ /\ / / __| | |
  | |  __/ (__| | | | |\  |  __/\ V  V /\__ \ |_|
  \_/\___|\___|_| |_\_| \_/\___| \_/\_/ |___/ (_)

-->
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <title>{% block title %}{% block page_title '' %} | {% block site_title 'TechNews' %}{% endblock %}</title>
    {% block stylesheets '' %}
</head>
<body>

{% block body '' %}
{% block javascripts '' %}
{% block final_javascripts '' %}

</body>
</html>