{% extends "layout.html.twig" %}

{% set active = 'inscription' %}
{% block page_title %} Inscription {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Inscription d'un Membre</h2>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}

        </div>
    </div>

{% endblock %}

